# /etc/ssh/sshd_config
Port 22
ListenAddress 0.0.0.0
AddressFamily inet
AllowUsers debian
AllowAgentForwarding no
AllowTcpForwarding no
AllowStreamLocalForwarding no
X11Forwarding no
DisableForwarding yes
AuthenticationMethods publickey
PasswordAuthentication no
PubkeyAuthentication yes
ChallengeResponseAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
UsePAM no
Protocol 2
MaxAuthTries 3
MaxSessions 3
ClientAliveCountMax 3
ClientAliveInterval 300
TCPKeepAlive no
MaxStartups 10:30:60
IgnoreRhosts yes
Subsystem sftp internal-sftp
UseDNS no
UsePrivilegeSeparation sandbox
HostKey /etc/ssh/ssh_host_ecdsa_key
GatewayPorts no
PermitTunnel no
PrintMotd no
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
HostKeyAlgorithms rsa-sha2-512,rsa-sha2-256,ssh-ed25519
MACs hmac-sha2-256-etm@openssh.com,hmac-sha2-512-etm@openssh.com,umac-128-etm@openssh.com
KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512,diffie-hellman-group14-sha256
