AllowUsers debian
ListenAddress 0.0.0.0
AddressFamily inet
AllowAgentForwarding no
AllowTcpForwarding no
AllowStreamLocalForwarding no
X11Forwarding no
DisableForwarding yes
AuthenticationMethods publickey
PasswordAuthentication no
PubkeyAuthentication yes
ChallengeResponseAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
Protocol 2
MaxAuthTries 3
MaxSessions 3
ClientAliveCountMax 3
ClientAliveInterval 300
TCPKeepAlive no
IgnoreRhosts yes
Subsystem sftp internal-sftp
UseDNS no
HostKey /etc/ssh/ssh_host_ecdsa_key
GatewayPorts no
PermitTunnel no
PrintMotd no
